@charset "UTF-8";
body {
	background-color: PowderBlue;
	text-align: center;
}
.h1 {
	text-align: center;	
}
.div1 {
	margin-top :5px;
	text-align: center;
}
.div1 input {
	width: 150px;
}
.div2 {
	text-align: center;
	margin-bottom: 10px;
}
.div2 input {
	margin-top: 10px;
	margin-left: 20px;
}
